
body{
    margin:0px;
    padding:0px;
    background: #f6f8f9;
}
.loginbox{
    border: 0px;
    padding:5px;
    background: #fff;
    width:485px;
    height: 540px;
    margin:auto;
    color:#434343;
}
.email{
    background: transparent;
    outline: none;
    height: 400px;
    width:100%;
    size: 120px;
}
.loginbox input[type="submit"]{
    border: none;
    outline:none;
    height: 40px;
    background:#32BDD2;
    color:#fff;
    font-size:18px;
    border-radius:20px;
    width: 150px;
    left:30%;
}
