body{
    margin:0px;
    padding:0px 0px 0px 0px;
    background:#f6f8f9;
    
}
.flex-burger{
    display: flex;
    flex-direction: row;
    background: #fff;
    width:50px;
    height:50px;
    padding: 0px 0px 0px 20px;
    align-items: center;
    justify-content: space-between;
    float: left;
}
.flex-container{
    padding:0px 20px 0px 0px;
   display: flex;
   flex-direction: row;
   align-items: center;
   background: #fff;
   justify-content: flex-end;
   height: 50px;

}
.photo{
    border-radius: 50%;
}
.flex-requition{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin:0px 0px 0px 25px;
    width:70px;
    height:700px;
    align-items:flex-start;
    justify-content: space-around;
    float: left;
}
.flex-requition p{
     margin: 0px 0px 0px 0px ;
    transform: rotate(-90deg);
    font-family: Arial, Helvetica, sans-serif;
}
.simplebox{
    margin: 0px 20px 0px 0px;
    padding: 0px;
    background: #fcfcfc;
    float: right;
    width:1234px;
    height: 700px;

}
.simplebox2{
    margin:57px 0px 20px 60px;
    padding: 0px;
    background: #fff;
    border: 1px solid #f0f0f0;
    width:90%;
    height: 550px;
}
.flex-item{
    display: flex;
    padding: 0px 0px 0px 69px;
    flex-direction: row;
    background: #f0f0f0;
    color: #505050;
    align-items: center;
    justify-content: space-between;
    width:1042px;
    height: 90px;
}
.flex-plus{
    display: flex;
    flex-direction: row;
   margin: 0px;
    padding: 0px 70px 0px 0px;
    background: #f0f0f0;
    color: #505050;
    width: 150px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
}
.draft{
    display: flex;
    padding: 0px;
    margin: 50px 0px 0px 0px;
    background-color: #fcfcfc;
    color: #595959;
    justify-content: space-between;
    align-items: baseline;
}
.draft p{
    margin-left: 80%;
    color: #32BDD2;
    font-size: 12px ;
    border-bottom :1.8px  solid#32BDD2;
}
.draft span{
     /* padding: 70px 0px 0px 0px; */
    font-size: 18px;
    border-bottom: 1.8px solid #595959;
}
.button {
    border: none;
    outline:none;
    height: 29.53px;
    background:#32BDD2;
    color:#fff;
    font-size:12px;
    border-radius:20px;
    width: 88.6px;
 }
 .flex-people{
     display: flex;
     flex-direction: row;
     background: #F4F8FA;
     border: 1px solid #D5E2E8;
     width: 539px;
     height: 31px;
     align-items: center;
     justify-content: space-between;
     padding: 30px;
     margin: 30px 0px 0px 50px;
 }
 .people img{
     border-radius: 90%;
     padding: 0px 20px 0px 10px;
 }
 .people p{
     float: right;
     margin: 0px 0px 0px 0px;
     color:#747474
     
 }
 /* .flex-people1{
     margin: 10px 0px 0px 50px;
 } */