* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
body{
    font-family: "Roboto";
    background-color: #F6F8F9;
    width: 100%;
    margin:auto;
  }
  .header{
    margin: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 5px grey;
    padding: 1%;
    
  }
  .burger-menu{
      width:10%;
      float: left;
  }
  .burger-icon {
    width:34px;
    height: 34px;
    alt:"burger-menu";
    
  }
  .user-menu{
    width:90%;
    float:right;
    
}
  .user-menu1{
      float: right;

  }
  .user-menu2{
      float:right;

  }
  .user-menu3{
      float: right;

  }
  .user-menu p{
      float: right;
  }
  .user-image{
    width:34px;
    height: 34px;
    alt:"user-menu";
    float: right;
    border-radius: 50%;
    margin-right: 1%;
  }
  .user-icon{
    width:8px;
    height: 8px;
    alt:"user-menu";
    float: right;
  }
.flex-user{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    width: 90%;
}
 .header2{
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 5px grey;
}
.request label{
  border-bottom:2.5px solid #32BDD2
}
 .height{
  min-height: 2vh;
}  
.container{
  background: #FCFCFC;
  display: flex; 
  flex-direction:row;
  width:95%;
  margin: auto;
  box-shadow: 0px 0px 5px grey;
  align-items: flex-start;
}
.left{
  width:7%;
  float: left;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; 
}
.left p{
    transform: rotate(-90deg);
    margin-top: 120%;
}
.icon{
    width: 90px;
    height: 500px;
    margin-top: 35%;
}
.right{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.right-inside{
  margin: 60px 40px 0 40px;
  background-color: #fff;
  border: 1px solid #F0F0F0;
}
.right-inside1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 30px 40px;
  border: 1px solid #e0e0e0;
  line-height: 20px;
}
.inside-content{
  width: 100%;
}
.drop1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 56px 0px 100px 42px;
}

.drop2 {
  display: flex;
  width: 100%;
}

.drop-file {
  background-color: #f6f8f9;
  width: 50%;
  color: #747474;
  padding: 20px;
  border: 1px solid #DFEBEF;
}

.drop-file button {
  padding: 8px 20px;
  text-align: center;
  background-color: #32bdd2;
  color: #ffffff;
  margin-top: 2%;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: Medium;
}
.drop-right {
  background-color: #32bdd2;
  display: flex;
  width: 50%;
  padding: 20px;
  border: 1px solid #32BDD2;
}
.drop-right1 {
  background-color: #32bdd2;
  border: 2px dashed #ffffff;
  width: 100%;
  border-radius: 5px;
}
 .drop-right1 img{
  margin-left: 48%;
}
.drop-right1 p{
  margin-left: 40%;
} 
.browser{
  display:none;
}
.browser-bottom {
  display: flex;
  border: 1px solid #DFEBEF;
}

.browser-file {
  width: 80%;
}

.file-content {
  padding: 1%;
  border-bottom: 1px solid #DFEBEF;
}

.file-doc {
  display: flex;
  justify-content: space-between;
  padding:1%;
  background-color: #E0E0E0;
  width: 50%;
  color: #595959;
  font-size: 10px;
}

.details {
  padding: 10px 0 1px 10px;
}

.details input {
  border:none;
  outline: none;
}

.upload {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #DFEBEF;
}

.upload button {
  margin: 0 auto;
  background-color: #32BDD2;
  padding: 3%;
  border-radius: 30px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 12px;
}
.error {
  background-color: #FFF5F5;
  display: flex;
  align-items: center;
  width: 80%;
}
.upload-click {
  display: none;
  margin-top: 7%;
}

.upload-content {
  border: 1px solid #D5E2E8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  width: 45%;
  font-size: 12px;
}

.upload-file {
  width: 80%;
  color: #595959;
  border-right: 1px solid #D5E2E8;
}

.file1 {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  border-bottom: 1px solid #D5E2E8;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.save{
  display: flex;
  background-color: #fcfcfc;
  color: #595959;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15%;
  padding: 1%;
  
} 
 .save p{
  margin-left: 72%; 
  color: #32BDD2;
  font-size: 15px ;
  border-bottom :1.8px  solid #32BDD2;
}
.save span{
   /* padding: 70px 0px 0px 0px;   */
  font-size: 18px;
  border-bottom: 1.8px solid #595959;
} 
.button1{
  background: #32BDD2 ;
  border: 2px solid #32BDD2;
  border-radius: 20px;
  box-shadow: 0px 0px 2px #32BBD2;
  color: #fff;
  padding: 1%;
  width: 10%;
} 